/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    font-family: "Albert Sans", Arial, Helvetica, sans-serif;
    width: 1000px;
    height: auto;
    max-width: 1000px;
    background-color: #f5f5dc;
    margin: 0 auto;
}

body h1 {
    color: #333;
    line-height: 1.5;
}

body figcaption {
    line-height: 1.5;
}

#menu {
    width: 100%;
    height: 70px;
    background-color: #d2b48c;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 1.5px;
    margin-top: 1.5px;
    color: black;
    padding-top: 10px;

    &:hover {
        background-color: #8d4513;
    }
}

#menu ul {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#menu ul li {
    list-style: none;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    font-weight: 700;

    &:hover {
        color: white;
        text-decoration: underline;
    }

}

#titulo {
    width: 100%;
    height: auto;
    background-color: #8fbc8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.5px;

    &:hover {
        background-color: #556B2F;
    }
}

#titulo h1 {
    text-align: center;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}

#titulo img {
    width: 70%;
    height: auto;
    border: 3px solid #000;
    border-radius: 10px;
    margin-bottom: 1.5px;
}

#conteudo {
    width: 100%;
    height: auto;
    background-color: #8fbc8f;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 60px;
    padding-top: 10px;
    margin-bottom: 1.5px;
    line-height: 1.5;
    text-align: justify;

    &:hover {
        background-color: #556B2F;
    }
}

#conteudo h2 {
    text-align: center;
    color: #333;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}

#preparo {
    width: 100%;
    height: auto;
    background-color: #8fbc8f;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0 60px;
    padding-top: 10px;
    margin-bottom: 2.5px;
    line-height: 1.5;
    text-align: justify;

    &:hover {
        background-color: #556B2F;
    }
}

#preparo h2 {
    text-align: center;
    color: #333;

    &:hover {
        color: white;
        text-decoration: underline;
    }
}